<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">
<body>

    <main th:fragment="conteudo">
    <meta charset="utf-8">
		<div class="container-fluid">
            <div class="row">
                <div class="col-9">
                    <h3 class="m-3">Lista de Procedimentos</h3>
                </div>
            </div>
        </div>

        <div class="container-fluid mb-4">
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Limpeza de Pele</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Drenagem Linfática</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Radiofrequênia</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Ultrassom</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Microagulhamento</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Microblading</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Vacuoterapia</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Peeling Físico</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Peeling Químico</p>
            </div></a>
            <a href="/procededit"><div class="btn row bg-secondary rounded my-2 mx-2 w-100">
                <p class="text-white p-2 m-0">Eletrocauterização</p>
            </div></a>
        </div>
        
	</main>
</body>
</html>