<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:include="fragments/modelo :: modelo">

<body>

    <main th:fragment="conteudo">
        <div id="main" class="container">
            <h1 class="h1cadCliente">Lista de Clientes</h1>
            <table class="table table-dark table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Gênero</th>
                        <th>Data de nascimento</th>
                        <th>Email</th>
                        <th>CPF</th>
                        <th>Celular</th>
                        <th>Fixo</th>
                        <th>Endereço</th>
                        <th>Número</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Gustavo Luiz Dutra</th>
                        <th>Masculiono</th>
                        <th>Data de nascimento</th>
                        <th>gustavodutrasantos@gmail.com</th>
                        <th>05095540673</th>
                        <th>31992471548</th>
                        <th>Fixo</th>
                        <th>Rodolfo Paixão</th>
                        <th>628</th>
                    </tr>

                </tbody>
            </table>
            <button type="submit" class="btn btn-rosa">Salvar alterações</button>
            <button type="submit" class="btn btn-rosa">Excluir</button>
        </div>
    </main>
</body>

</html>